<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<div id="root"></div>
<script src="http://213.32.68.21:6001/socket.io/socket.io.js"></script>
</body>

</html>