.backgroundImage{
  pointer-events: none;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.backgroundColor{
  background-color: rgba(0,0,0,0.6);
  pointer-events: none;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}