.infoScreen{
  font-family: 'Tiresias';
  color: #fff;
  text-shadow: -2px 2px 5px #000;
  font-size: $font-size-big;
  height:100%;
  position: relative;

  .row{
    position: relative;
    margin: 0 !important;
    width: 100%;
    max-width: 100%;

    .columns{
      padding: 0;
      margin: 0 !important;
    }

    .weather{
      display: flex;
      align-items: flex-start;

      img{
        height: 7rem;
        margin-right: 30px;
      }
    }

    .time{
      text-align: right;
    }

  }

  .welcome{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .services{
    position: absolute;
    bottom: 0;
    width: 100%;

    .taxi{
      font-size: $font-size;
      text-align: center;
      float: left;
    }

    .drugs{
      font-size: $font-size;
      text-align: center;
      float: right;
    }
  }

}