.videoLibrary{
  font-family: 'Tiresias';
  height: 90vh;
  width: 100%;
  background-color: #fdfdfd;

  .videoListTitle{
    max-width: 100% !important;
    width: 90%;
    margin: 10px auto -5px auto;
    font-size: 2rem;
  }

  .videoList {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .videoList-noVideo{
      width: 90%;
      margin: 0 auto;

      img{
        min-height: 150px;
        max-height: 200px;
      }
    }

    .rsc-arrow_left,
    .rsc-arrow_right {
      display: none;
    }

    .rsc-slider {
      transition: all 0.7s ease-in-out;
    }

    .rsc-container {
      width: 90%;
    }

    .rsc-slider-item-img {
      padding: 6px;
    }

    .selectedCard{
      //box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
      border-color: black;
      border-width: 1px;
      transform: scale(1.15);
      animation: scale 3s;
      z-index: 1;
      background-color: white;
      //margin-left: 27px;
      opacity: 1 !important;
    }

    .card{
      position: relative;
      min-height: 225px;
      max-height: 225px;
      overflow: hidden;
      opacity: 0.8;

    }

    .card__time{
      position: absolute;
      background-color: rgba(255,255,255, 0.6);
      bottom: 5px;
      right: 5px;
      padding-right: 2px;
      padding-left: 2px;
      padding-top: 3px;
    }

    .card__title{
      padding: 5px 10px 5px 10px;
      font-size: 1rem;
    }

    .card__image{
      position: inherit;
      overflow: hidden;
      font-size: 1rem;

    }

    .card__play{
      position: absolute;
      top: -5px;
      left: 15px;
      font-size: 3rem;
      color: white;
    }
  }

  .header{
    height: 15%;
    max-width: 90%;
    margin: 0 auto;

    .row{
      max-width: 100%;
      margin: 0 !important;
    }

    .headerTitle{
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 0;
      font-size: 5rem;

      /* Small only */
      @media screen and (max-width: 39.9375em) {
        font-size: 2rem;
      }

      /* Small up */
      @media screen and (min-width: 39.9375em) and (max-width: 50em) {
        font-size: 2rem;
      }

      /* Medium only */
      @media screen and (min-width: 50em) and (max-width: 85em) {
        font-size: 3rem;
      }

    }

    .headerIcons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.8rem;
      padding: 0;

      /* Small only */
      @media screen and (max-width: 39.9375em) {
        font-size: 1rem;
      }

      /* Small up */
      @media screen and (min-width: 39.9375em) and (max-width: 50em) {
        font-size: 1rem;
      }


    }

    .fi-list{
      float: right !important;
    }

    .ulHeader{
      text-align: right;
      margin-right: 10px !important;
    }
  }

  .body{
    height: 85%;
  }
}

