.videoLibraryBG{
  background: radial-gradient(white 35%, rgba(0,0,0,0.5));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

    .videoLibrary2{
    font-family: 'Tiresias';
    height: 90vh;
    width: 100%;

    .videoListTitle{
      max-width: 100% !important;
      width: 90%;
      margin: 10px auto -5px auto;
      font-size: 2rem;
    }

    .videoList {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .videoList-noVideo{
        width: 90%;
        margin: 0 auto;

        img{
          min-height: 150px;
          max-height: 400px;
        }
      }

      .rsc-arrow_left,
      .rsc-arrow_right {
        display: none;
      }

      .rsc-slider {
        transition: all 0.7s ease-in-out;
      }

      .rsc-container {
        width: 90%;
      }

      .rsc-slider-item-img {
        padding: 30px;
      }

      .rsc-slider-item_transparent{
        opacity: 0.5;
      }

      .selectedCard{
        box-shadow: rgba(39, 137, 174, 0.5) -5px -5px 20px, rgba(39, 137, 174, 0.5) 5px 5px 20px;        transform: scale(1.15);
        border-width: 0px;
        animation: scale 3s;
        z-index: 1;
        background-color: transparent;
        //margin-left: 27px;
        opacity: 1 !important;
        .card__image{
          box-shadow: none;
        }
      }

      .card{
        color:#373737;
        position: relative;
        border-width: 0px;
        min-height: 225px;
        max-height: 538px;
        overflow: hidden;
        opacity: 0.4;
        background-color: transparent;
      }

      .card__date{
        position: absolute;
        background-color: rgba(255,255,255, 0.6);
        top: 12px;
        right: 12px;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 3px;
        font-size: 1.5rem;
      }

      .card__time{
        position: absolute;
        background-color: rgba(255,255,255, 0.6);
        bottom: 12px;
        right: 12px;
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 3px;
        font-size: 1.5rem;
      }

      .card__title{
        padding: 5px 10px 5px 27px;
        font-size: 2.2rem;
        height: 108px;
        max-height: 108px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .card__image{
        box-shadow: rgba(0, 0, 0, 0.5) -5px -5px 20px, rgba(0, 0, 0, 0.5) 5px 5px 20px;
        position: inherit;
        overflow: hidden;
        font-size: 3rem;

      }

      .card__play{
        position: absolute;
        top: -9px;
        left: 12px;
        font-size: 4rem;
        color: white;
      }
    }

    .header{
      height: 18%;
      max-width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color:#373737;

      .row{
        max-width: 100%;
        margin: 0 !important;
      }

      .headerTitle{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 0;
        font-size: 4rem;

        /* Small only */
        @media screen and (max-width: 39.9375em) {
          font-size: 2rem;
        }

        /* Small up */
        @media screen and (min-width: 39.9375em) and (max-width: 50em) {
          font-size: 2rem;
        }

        /* Medium only */
        @media screen and (min-width: 50em) and (max-width: 85em) {
          font-size: 3rem;
        }

      }

      .headerIcons{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.5rem;
        padding: 0;

        /* Small only */
        @media screen and (max-width: 39.9375em) {
          font-size: 1rem;
        }

        /* Small up */
        @media screen and (min-width: 39.9375em) and (max-width: 50em) {
          font-size: 1rem;
        }


      }

      .fi-list{
        float: right !important;
      }

      .ulHeader{
        text-align: right;
        margin-right: 10px !important;
        font-size: 1.5rem;
      }
    }

    .body{
      height: 85%;
    }
  }
}


