.modal{
  font-family: 'Tiresias';
  width: 950px !important;
  max-width: 95% !important;

  .highlight{
    font-size: 3rem;
  }

  .modal__content{
    padding: $distance-default;
    .modal__content-top{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      margin-bottom: 3rem;
      font-size: 2.5rem;

      .modal__content-top-thumb{
        order: 0;
        flex: 0 1 auto;
        align-self: flex-start;
        margin-right: $distance-default;
        img{
          width: 100px;
          border-radius: 25px;
          height: auto;
        }
      }

      .modal__content-top-title{
        order: 0;
        flex: 0 1 auto;
        align-self: center;
        display: inline;
        margin-bottom: 0;
      }
    }

    .modal__content-description{
      font-size: 2rem;
      margin-bottom:$distance-default;
    }

    .modal__content-button{
      .columns{
        padding: 0;

        button{
          color: #071a4a;
          background-color: $text-color;
          float:right;
          margin: 0;
        }
      }
    }

  }

}
