.overlay{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color:white;
  width: 100%;
  height: 100%;
  z-index:2;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay__display{
    position: absolute;
    height: 90vh;
    width: 90%;
    z-index:2;
  }
}