.rating{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: Tiresias;

  .fi-star{
    font-size: 5rem;
  }

  .message1{
    font-size: 3rem;
  }

  .message2{
    padding:0 1% 0 1%;
  }

  .thumbs{
    flex-direction: row;
    font-size: 9rem;
  }

  .golden{
    color: #ffb607;
  }

  .green{
    color: green;
  }

  .red{
    color: red;
  }


}