.splashScreen{
  height: 100%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  .timer{
    font-size: 5rem;
  }

  img{
    margin:30px 0 50px 0;
    height: 200px;
  }

  .ok{
    img{
      margin:30px 0 0 0;
      height: 100px;
    }
  }

  .splash_loader{

    img{
      width: 200px;
      height: 100%;
    }

    .spinner > div {
      width: 38px;
      height: 38px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: $primary-color;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
    }

  }

}