@font-face {
  font-family: 'Tiresias';
  src: url('../assets/fonts/Tiresias.ttf');
}

@import 'constants',
'animations',
'components',
'vendors',
'overlay',
'mainLayout',
'iptv',
'modal',
'notification',
'library',
'library2',
'infoScreen',
'ratingScreen',
'splashScreen',
'~foundation-icons/foundation-icons.css',
'~foundation-sites/scss/foundation',
'~font-awesome/css/font-awesome.css';

@include foundation-everything;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-reveal;